@import 'utilities.css';

:root {
    --primary: #3dcfd3;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #f2f2f2;
    --secondary: #070606;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 88%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

@media(min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 3rem;
}

header nav .branding img {
    width: 200px
}

header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s;
}

header nav .left a:hover {
    color: var(--primary);
}

.hero .left img {
    width: 400px;
}

.hero .right {
    color: var(--pure);
}

.hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span {
    color: var(--primary);
}

.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

section {
    padding: 6rem 0;
}

section.about .about-me-img {
    height: 450px;
}

section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 2rem;
}

section.about .social {
    display: flex;
}

section.about .social a {
    width: 35px;
    height: 35px;
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}

section.about .social a:hover {
    background: var(--primary);
}

section.about .social a img {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span {
    color: var(--primary);
}

.section-heading+p {
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}

section.services {
    background: var(--light);
}

section.services .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

section.services .card-wrapper .card {
    position: relative;
    background: var(--pure);
    padding: 3rem 2rem;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
}

section.services .card-wrapper .card img {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

section.services .card-wrapper .card h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p {
    font-family: "Lato", sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}

section.services .card-wrapper .card:hover {
    background: var(--dark);
}

section.services .card-wrapper .card:hover h2,
section.services .card-wrapper .card:hover p {
    color: var(--pure);
}

section.freelancer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/camera.png);
    text-align: center;
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%);
    padding-bottom: 10rem;
}

section.freelancer h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.freelancer p {
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
}

section.reviews .slider .slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6rem;
}

section.reviews .slider .slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
}

section.reviews .slider .slide p {
    font-family: 'Leto', sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}

section.reviews .slider .slide span {
    font-size: 0.8rem;
}

section.reviews .slider-dots {
    margin-top: 2rem;
}

section.reviews .slider-dots .dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

section.reviews .slider-dots button {
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: .3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}

section.reviews .dots li.slick-active button {
    background: var(--primary);
    width: 20px;
}

section.work {
    background: var(--light);
}

section.work .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

section.work .card-wrapper .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.blog {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    padding-bottom: 12rem;
}

section.blog .section-heading {
    color: var(--pure);
}

section.blog .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

section.blog .card-wrapper .card {
    background: var(--pure);
}

section.blog .card-wrapper .card .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.blog .card-wrapper .card .card-content {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section.blog .card-wrapper .card .card-content h1 {
    font-size: 1rem;
    font-weight: 600;
}

section.blog .card-wrapper .card .card-content a {
    color: var(--secondary);
    text-decoration: none;
}

section.blog .card-wrapper .card .card-content a:hover {
    color: var(--primary);
}

section.blog .card-wrapper .card .card-content span {
    color: var(--ternary);
    font-size: 0.8rem;
}

section.blog .card-wrapper .card .card-content p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section.blog .card-wrapper .card .card-content a.read-more {
    font-size: 0.8rem;
}

section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section.contact .card-wrapper .card {
    text-align: center;
}

section.contact .card-wrapper .card img {
    margin-bottom: 3rem;
}

section.contact .card-wrapper .card h1 {
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h6 {
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contact .input-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

section.contact .input-wrap-2 {
    display: flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input {
    margin-bottom: 2rem;
}

section.contact input {
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}

section.contact input:focus,
section.contact .input-wrap-2 textarea:focus {
    outline: none;
}

section.contact .input-wrap-2 textarea {
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

footer {
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}

footer .footer-logo {
    margin-bottom: 3rem;
    width: 180px;
}

footer .footer-socials {
    margin-bottom: 2rem;
}

footer .footer-socials a {
    margin-right: 1rem;
    width: 40px;
    height: 40px;
}

footer .footer-socials a img {
    width: 30px;
    height: 30px;
}

footer .copyright {
    color: var(--ternary);
}

.site-main-wrapper {
    position: relative;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.open {
    transform: translateX(0);
}

.mobile-nav .times {
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.mobile-nav .times img {
    width: 30px;
}

.mobile-nav ul {
    list-style-type: none;
}

.mobile-nav ul li a {
    color: var(--secondary);
    text-decoration: none;
}

button.hamburger {
    display: none;
}

@media (max-width:1024px) {
    header #main-nav {
        display: none;
    }

    button.hamburger {
        display: initial;
        position: absolute;
        top: 40px;
        right: 40px;
        z-index: 11;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }

    button.hamburger img {
        width: 30px;
    }

    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 89%, 0 100%);
    }

    .hero {
        padding-top: 8rem;
        padding-bottom: 3rem;
    }

    .hero .left img {
        width: 260px;
    }

    .hero .right .h1 {
        font-size: 2rem;
    }

    section.about .about-me-img {
        height: 360px;
    }

    section.services .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 5rem;
    }

    section.blog {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 94%, 0 100%);
    }

    section.blog .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:576px) {
    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 71% 95%, 0 100%);
    }

    .hero {
        flex-direction: column;
    }

    section.about .container {
        flex-direction: column;
    }

    section.services .card-wrapper {
        grid-template-columns: 1fr;
    }

    section.blog .card-wrapper {
        grid-template-columns: 1fr;
    }

    section.freelancer {
        polygon(0 0, 100% 0, 100% 100%, 70% 88%, 0 100%);
    }

    section.work .card-wrapper {
        grid-template-columns: 1fr;
    }

    section.blog {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 97%, 0 100%);
    }

    section.contact .card-wrapper {
        grid-template-columns: 1fr;
    }
}
